CABINET_DATA_VOLUME=/volume1/CabinetCardio
CABINET_DB_VOLUME=/volume1/docker/cabinet-postgres
CABINET_BACKUP_VOLUME=/volume1/CabinetSauvegardes
CABINET_UNC=\\DS224\CabinetCardio
CABINET_UID=1026
CABINET_GID=100
